@use "../util" as *;


html {
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;

    font-family: "Poppins", sans-serif;
    line-height: 1.1;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.container_max {
    max-width: rem(1080);
    margin: rem(10) rem(24);
    padding: rem(14) rem(0);
    line-height: 1.1;

    @include breakpoint(medium) {
        margin: rem(20) auto;
        padding: rem(14) rem(0);

    }
}

.title__blk {
    font-size: rem(36);
    color: var(--head-font);
    font-weight: 600;
    padding-bottom: rem(24);
}

.title__wh {
    color: var(--head-bg);
    font-size: rem(36);
    font-weight: 600;
}

.background_gen {
    background-image: var(--gradient_1);
}

.background_gen_2 {
    background-image: var(--gradient_2);
}

#anchor_clean {
    text-decoration: none;
    color: inherit;
}