
:root {
    --head-font : #20292f ;
    --head-bg: #fff;
    --head-hover: #1c2429;
    --head-border : rgba(32,41,47, 0.5) ;

    --gradient_1: linear-gradient(234deg,#fbab7e 0%,#f7ce68 100%) ;
    --gradient_2: linear-gradient(75deg,#20e3b2 0%,#2fd8ba 100%)  ;
    --gradient_3: linear-gradient(221deg,#1bb3eb 0%,#25efcb 100%);

    --font_2: #44d89e;
    --font_light_grey: #486066;
    --font_light_grey_title: #2b3b3f;

    
}